<div class="row">
  <div class="year">
    1995
  </div>
  <div class="content">
    <p>2月13日、千葉県に生まれる。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2005</p>
  </div>
  <div class="content">
    <p>小学校５年生で韓国へホームステイに行く。</p>
    <p>野球を始める。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2007</p>
  </div>
  <div class="content">
    <p>人生２回目のホームステイ。アメリカへ。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2012</p>
  </div>
  <div class="content">
    <p>野球を引退する。苦節８年。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2017</p>
  </div>
  <div class="content">
    <p>千葉工業大学工学部電気電子情報工学科を卒業。</p>
    <p>情報システムサービス会社に入社。</p>
  </div>
</div>
