<h1>BIOGRAPHY</h1>
<div class="row">
  <div class="year">
    <p>1995</p>
  </div>
  <div class="content">
    <p>2月13日、千葉県に生まれる。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2001</p>
  </div>
  <div class="content">
    <p>小学校入学、105.1cm。誰よりも小さかった。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2005</p>
  </div>
  <div class="content">
    <p>韓国へ２週間のホームステイに行く。</p>
    <p>野球を始める。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2007</p>
  </div>
  <div class="content">
    <p>中学校入学、134.1cm。誰よりも小さかった。必ず大きくなると誓う。</p>
    <p>アメリカへ１ヶ月間のホームステイに行く。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2009</p>
  </div>
  <div class="content">
    <p>合唱コンクールの指揮者、体育祭の応援団を経験する。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2009</p>
  </div>
  <div class="content">
    <p>高校入学、152.2cm。女子を抜かし始める。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2012</p>
  </div>
  <div class="content">
    <p>夏に野球を引退する。苦節８年。レギュラーになれずじまいだったが、野球に育ててもらった。後悔はないが、この悔しさを忘れず生きていく。</p>
    <p>野球にほとんど生きない持久走は得意だった。学年で３位くらいの成績だったと思う。根性と継続力だけは誰にも負けなかった。</p>
    <p>小学校、中学校、高校までの１２年間学校は無欠席。野球も８年間無欠席。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2013</p>
  </div>
  <div class="content">
    <p>スノーボードを始める。はまる。</p>
    <p>千葉工業大学入学、165cmくらい。身長はまだ伸びる。いや、伸ばす。</p>
    <p>免許を取って、飲食店でホールのアルバイトを始める。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2015</p>
  </div>
  <div class="content">
    <p>Katy perryの来日で、初めてライブに行く。東京体育館。</p>
    <p>ずっと行きたかったSEKAI NO OWARIのライブに行く。さいたまスーパーアリーナ。ライブが大好きになる。</p>
    <p>アルバイトの友人と深夜仕事終わりにカラオケ、卓球をしたり、沢山遊びに行った。楽しかった。遅れてきた青春。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2017</p>
  </div>
  <div class="content">
    <p>千葉工業大学工学部電気電子情報工学科を無事卒業。</p>
    <p>理系ならではの研究、実験、レポートで徹夜も少なくなかった。</p>
    <p>実験では、毎週、ボールペンの手書きで何十枚もレポートを書いた。修正テープは使えない。心が鍛えられた。PCのありがたみを知る。</p>
    <p>飲食店のアルバイトは３年３ヶ月やり切った。継続力が自信になる。</p>
    <p>情報システムサービス会社に入社。168.7cm。身長が伸びて本当によかった。</p>
    <p>研修でプログラミングの楽しさと難しさを知る。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2018</p>
  </div>
  <div class="content">
    <p>Surfaceを買う。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2019</p>
  </div>
  <div class="content">
    <p>Macを買う。</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2020</p>
  </div>
  <div class="content">
    <p>現在169.4cm。身長170cm、バックエンドエンジニアを目指す。</p>
    <p>スノーボードとライブは毎年必ず行っている。</p>
  </div>
</div>
