<h1>CAREER</h1>
<div class="row">
  <div class="year">
    <p>2017</p>
  </div>
  <div class="content">
    <p>新卒で情報システムサービス会社に入社。半年間の研修でJava、SQL、HTMLなどを学ぶ。</p>
    <p>大手通信系グループ会社に常駐。BtoB物流管理システムの改修、運用保守を１年半経験。 使用技術：Java、PL/SQL、Linux、Oracle9i、Jsp</p>
  </div>
</div>
<div class="row">
  <div class="year">
    <p>2019</p>
  </div>
  <div class="content">
    <p>大手保険会社に常駐。社内システムの改修を半年経験。 使用技術：CRS(Biz/Browser専用のスクリプト言語)</p>
    <p>同会社で社内業務のPRA開発を１年３ヶ月経験。使用技術：VB.net、Uipath</p>
  </div>
</div>
