<h3>SES企業に就職(2017/04-現在)。 半年間の研修(2017/04-2017/09)ののち、２社の顧客先で３種の業務を経験。</h3>
<h3>経験業務、使用技術</h3>
<p>1.BtoB物流管理システムの改修、運用保守(2017/10-2019/03)</p>
<p>使用技術：Java、PL/SQL、Linux、Oracle9i、Jsp</p>
<p>2.保険会社社内システムの改修(2019/04-2019/09)</p>
<p>使用技術：CRS(Biz/Browser専用のスクリプト言語)</p>
<p>3.保険会社社内業務のPRA開発(2019/10-現在)</p>
<p>使用技術：VB.net、Uipath</p>
