<div>
  <h1>PORTFOLIO</h1>
  <%= link_to 'Unknown Music', 'https://www.unknownmusic.net'%>
  <p>音楽試聴アプリです</p>
  <%= link_to 'Github', 'https://github.com/Kazuho-Shibuya'%>
  <h2>機能一覧</h2>
  <p>・簡単ログイン機能</p>
  <p>・管理ユーザー機能(ユーザーを削除)</p>
  <p>・ユーザー登録、削除、編集、検索機能</p>
  <p>・ユーザー認証機能</p>
  <p>・パスワードリセット機能</p>
  <p>・ユーザーログイン、ログアウト機能</p>
  <p>・ユーザ一覧機能</p>
  <p>・いいね機能(Ajax)</p>
  <p>・人気投稿機能</p>
  <p>・投稿検索機能</p>
  <p>・フォロー機能</p>
  <p>・音楽検索機能</p>
  <p>・音楽投稿、削除機能</p>
  <p>・ページネーション機能</p>
  <h2>使用技術</h2>
  <h3>インフラ</h3>
  <p>・AWS</p>
  <p>・Docker/docker-compose</p>
  <h3>フロントエンド</h3>
  <p>・HTML</p>
  <p>・CSS</p>
  <h3>バックエンド</h3>
  <p>・Ruby 2.5.0</p>
  <p>・Ruby on Rails 5.2.4.2</p>
  <h3>外部API</h3>
  <p>・Spotify API</p>
  <h3>テスト</h3>
  <p>・RSpec</p>
  <h4>参考文献</h4>
  <p>・Progate Ruby</p>
  <p>・Progate Ruby on Rails5</p>
  <p>・Railsチュートリアル</p>
  <p>・Ruby on Rails 5 速習実践ガイド</p>
  <p>・Progate HTML&CSS</p>
  <p>・Progate JavaScript</p>
  <p>・Progate Command Line</p>
  <p>・Progate Git</p>
  <p>・わかばちゃんと学ぶGit使い方入門</p>
  <p>・Udemy 初めてのGitとGitHubの学習ログ</p>
  <p>・GitHub Learning Lab</p>
  <p>・everydayrails RSpecによるRailsテスト入門</p>
  <p>・Amazon Web Services 基礎からのネットワーク＆サーバー構築 改訂版</p>
  <p>・ゼロからわかるAmazon Web Services超入門</p>
  <p>・入門docker</p>
  <p>・Docker/Kubernetes 実践コンテナ開発入門</p>
</div>
