<h1>PORTFOLIO</h1>
<%= link_to 'Unknown Music', 'https:www.unknownmusic.net'%>
<h3>参考文献</h3>
<p>Progate Ruby</p>
<p>Progate Ruby on Rails5</p>
<p>Railsチュートリアル</p>
<p>Ruby on Rails 5 速習実践ガイド</p>
<p>Progate HTML&CSS</p>
<p>Progate JavaScript</p>
<p>Progate Command Line</p>
<p>Progate Git</p>
<p>わかばちゃんと学ぶGit使い方入門</p>
<p>Udemy 初めてのGitとGitHubの学習ログ</p>
<p>GitHub Learning Lab</p>
<p>everydayrails RSpecによるRailsテスト入門</p>
<p>Amazon Web Services 基礎からのネットワーク＆サーバー構築 改訂版</p>
<p>ゼロからわかるAmazon Web Services超入門</p>
<p>入門docker</p>
