<h1>PORTFOLIO</h1>
<p>Progate Ruby(201906)</p>
<p>Progate Ruby on Rails5(201906-201907)</p>
<p>Railsチュートリアル(201908)</p>
<p>Ruby on Rails 5 速習実践ガイド(201909-201912)</p>
<p>Progate HTML&CSS(201912)</p>
<p>Progate JavaScript(201912)</p>
<p>Progate Command Line(201912)</p>
<p>Progate Git(201912)</p>
<p>わかばちゃんと学ぶGit使い方入門(202001)</p>
<p>Udemy 初めてのGitとGitHubの学習ログ(202001)</p>
<p>ポートフォリオ１代目(202001-202002)</p>
<p>ポートフォリオ２代目(202003-202005)</p>
<h3>ポートフォリオ３代目(202005-現在)</h3>
<p>GitHub Learning Lab(202007)</p>
<p>everydayrails RSpecによるRailsテスト入門(202007)</p>
<p>
  Amazon Web Services 基礎からのネットワーク＆サーバー構築 改訂版(202008)
</p>
<p>ゼロからわかるAmazon Web Services超入門(202008)</p>
