<h1>Kazuho Shibuya</h1>
<%= link_to 'PORTFOLIO', static_pages_portfolio_path, class: 'link-style' %>
<%= link_to 'CAREER', static_pages_career_path, class: 'link-style' %>
<%= link_to 'CONTACT', contacts_new_path, class: 'link-style' %>
<h2>
  継続と挑戦
</h2>
<h2>Keep and Challenge</h2>
<footer>
  <p>Copyright &copy;2020 Kazuho Shibuya, All Rights Reserved.</p>
</footer>
