@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* footer */
footer {
  margin-top: auto;
}
