@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width: 500px;
  height: 300px;
}

.center {
  text-align: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input[type="text"] {
  width: 300px;
  height: 40px;
}

input[type="email"] {
  width: 300px;
  height: 40px;
}

/* footer */
footer {
  margin-top: auto;
}

/* biography */
.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.year {
  padding: 0 10px 0 0;
}
