@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width: 500px;
  height: 300px;
}

.center {
  text-align: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input[type="text"] {
  width: 300px;
  height: 30px;
}

input[type="email"] {
  width: 300px;
  height: 30px;
}

/* footer */
footer {
  margin-top: auto;
}
